.statdiv {
	border-radius: 1em;
	-moz-border-radius: 1em;
	padding: 0.5em;
	margin: 0.5em;
	border: .2em solid #006600;
	background-color: #ccffcc;
	float:left;
}
.statdiv h3 {
	background-color: #006600;
	border-radius: .25em;
	-moz-border-radius: .25em;
	text-align: center;
	color: #ffffff;
	font-size: 120%;
	margin: 0.5em 0;
}
.narrow {
	width: 10em;
}

.medium {
	width: 22.4em;
}

.wide {
	width: 47.2em;
}

/* hack for overlapping divs in Chrome */
.wide + .narrow, .wide + .medium {
	clear: left;
}

p {
	padding: 0.4em;
}

table {
	text-align: right;
	border-collapse:collapse;
}

.total td {
	font-weight:bold;
	border-top: thin solid black;
}

td, th {
	padding: 0.2em;
}